.app {
  display: flex;

  .content {
    padding: 35px;
    min-height: 100vh;
    width: 100%;
  }

  &.light-theme {
    background: #fff;
    color: black;
  }

  &.dark-theme {
    background: #2f3440;
    color: #adbac7;
  }
}
